@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;600;700&family=Roboto:wght@100;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
    height: 100%;
    width: 100%;
}

.text-shadow{
    filter: drop-shadow(0px 1px 1px rgba(255, 255, 255, 0.45));
}

/* Personalizando o Scroll */

* {
    scrollbar-width: thin;
    scrollbar-color: --var(scroll-color) transparent;
    --scroll-color: #C8C8C8;
}

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

@media screen {

}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 20px;
}
